/* Selector universal */
*{
    margin: 0 auto;
    padding: 0 auto;
}

/* Selector de ID */


/* Selector de clases */
.contenedor{
    display: flexbox;
    height: 100%;
}

.nav{
    background-color: black;
    flex-wrap: nowrap;
    margin: 0px;
    justify-content: center;
}

.encabezado{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.seccion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(173, 173, 173, 0.685);
    min-height: 700px;
    padding: 16px;
    text-align: justify;
    color: #fff;
}

.seccionAdmin{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(173, 173, 173, 0.685);
    min-height: 200px ;
    padding: 16px;
    text-align: justify;
    color: rgb(0, 0, 0);
}


.datos{
    display:flex;
    flex: column;
    flex-flow: row wrap;
    margin: 2px;
    padding-bottom: 1px;
    justify-content: space-between;
    font-size: auto;
    width: 100%;
}

.cajat{
    width: auto;
}
.caja{
    width: 16%;
}


.seccion-index{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    flex:1;
}


.piepag{
    background-color:gray;
    padding: 10px;
    text-align: center;
    color: white;
}

.lista{
    display: flex;
    justify-content: center;
}

.producto{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 260px;
    margin: 35px;
}
.descripcion{
    width: 80%;
    text-align: justify;
    align-items: center;
}

.productos{
    width: 250px;
    height: 400px;
    border: 2px solid gold  ;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 .2rem #fff,
    
}

h4{
    text-align: center;
}

.portada{
    
    width: 800px;
    height: 400px;
    border: 2px solid red;
}

.imgtitulo{
    width: 160px;
    height: 100px;
}

.productos img{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.imagen {
    width: 50px;
    height: 50px;
}

.productos{
    text-decoration: none;
    color: black;
}

.seccion-productos{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.tituloEncabezado{
    font-size: 48px;
    color: rgb(255, 0, 0);
    font: bold;
    text-align: center;
}

.titulos{
    font-size: 48px;
    color: rgb(175, 21, 21);
    font: bold;
    text-align: center;
}

.textos{
    font-size: 24px;
    color: black;
    font: bold;
    text-align: justify;
}

.izquierda{
    width: 70%;
}

.derecha{
    width: 30%;
    background-color: rgb(0, 0, 0);
}

.texto_producto{
    font-size: 2vw;
}



/* Selector de etiquetas */
nav{
    display: flex;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid gold;
    color: bisque;
    margin: 10px auto;
    width: 20%;
    border-radius: 10px;
}




@media screen and (max-width: 700px){
    nav, nav a{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        padding: 10px;
        width: 90%;
    }

 
  
    

}

section{
    display: flex;
    flex-flow: nowrap;
}




@media screen and (max-width: 700px){
    section{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 20%;
    max-height: 100%;
    height: 20%;
    
}

form{
    display: flex;
    justify-content: center;
    text-align: center;
}

form div{
    width: 200px;
    padding: 20px;
    border: 2px solid gold;
    color: black;
    margin: 10px;
    justify-content: center;
  
}